@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0a0a;
  --background: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fafafa;
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
